body {
	background:rgb(79, 79, 79);
}

p {
	color: rgb(70, 128, 146)
}

h1 {
	text-align: center;
	font-size: 36px;
}

h2 {
	color: floralwhite
	
}

ul {
	color: rgb(70, 128, 146)
}

header {
	text-align: center;
	background: url(https://lh3.google.com/u/0/d/0B9inBrUOpSxiX0VBbWR2eE1KaDQ=w1920-h875-iv1);
	background-size: cover;
	
}

article {
	max-width: 700px;
	padding: 20px;
	margin: 0 auto;
}


li {
	display: inline;
	 padding: 0px 10px 0px 10px;
} 



	
